[user]
	name = DarkOnion0
	email = darkonion0@clapot.org
	signingkey = 852A39E50BA9083B

[core]
	editorgit = nvim
	editor = nvim
	pager = delta

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[delta]
	navigate = true  # use n and N to move between diff sections
	line-numbers = true

[pull]
	rebase = false

[init]
	defaultBranch = main

[commit]
    gpgsign = true

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "ssh://git@gitlab.com/"]
	insteadOf = https://gitlab.com:
